.header {
  padding: 1rem;
  background-color: #00537c;
  color: white;
  text-align: center;
  height: 5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;

  button {
    background: red;
    padding: 1rem;
    width: 10em;
  }
}

@media only screen and (max-width: 1023px) {
  .header {
    .button {
      margin-right: 0;
      padding: 1rem 0;
    }
  }
}
